body{
    background-color: rgb(175, 123, 123);
}


#cadastro{
    display: none;
}
#login{
    display: none;
}
#deletar{
    display: none;
}
#editar{
    display: none;
}

#editar2{
    display: none;
}
#editar3{
    display: none;
}