html{

    height: 100%;

}

body{

    height: 100%;
    background-color: blueviolet;
    margin: 0;

}

#container{

    height: 100%;
    background-color: gold;

}

#nav-bar{

    height: 17%;
    background-color: gray;

}

#cadastro
{
    height: 75%;
    background-color: rebeccapurple;
    display: block;

}

#bola{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.ca{
    justify-content: end ;
}